## Agenda for Day 3: Part 2(session 4)
- Date: 12/02/2020 Evening 6:30 -  10:00
---

- Workshop 1 solutions
    - part 1, part 2

---
- FILE I/O Examples ()
    -  read & write text files
    -  read & write csv files
    -  read & write json files
---

- Workshop 2 (Briefing)
    - { CPU / MEM } Metrics collection workshop

---

- MongoDB

In [2]:
from datetime import datetime
str(datetime.now())

'2020-02-12 21:01:21.149743'

In [3]:
def get_me_a_Reference_to_the_collection():
    pass

In [4]:
def insert_some_records():
    pass

In [29]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")
collection = client.metric_db.cpu_mem_usage_collection


collection.insert_one({"hai": "hello"})

In [33]:
list(collection.find({}))

[{'_id': ObjectId('5e43f76cc52aac217ce41d58'),
  'cpu_metric': 30,
  'mem_metric': 40,
  'timestamp': '2020-02-12 21:01:21.149743',
  'ipaddress': '192.168.3.10',
  'name': "Bala's machine"},
 {'_id': ObjectId('5e43f7abc52aac217ce41d59'),
  'cpu_metric': 20,
  'mem_metric': 30,
  'timestamp': '2020-02-12 21:01:21.149743',
  'ipaddress': '192.168.3.11',
  'name': "Ken's machine"}]

In [ ]:
""" RECORDS

{'_id': ObjectId('5e43f76cc52aac217ce41d58'),
  'cpu_metric': 30,
  'mem_metric': 40,
  'timestamp': '2020-02-12 21:01:21.149743',
  'ipaddress': '192.168.3.10',
  'name': "Bala's machine"},
 {'_id': ObjectId('5e43f7abc52aac217ce41d59'),
  'cpu_metric': 20,
  'mem_metric': 30,
  'timestamp': '2020-02-12 21:01:21.149743',
  'ipaddress': '192.168.3.11',
  'name': "Ken's machine"}
  
  
"""

In [32]:
collection.delete_one({
    "hai": "hello"
})

In [30]:
## find some records

import pandas as pd
cursor = collection.find({})
df = pd.DataFrame(cursor)
df

,_id,cpu_metric,hai,ipaddress,mem_metric,name,timestamp
0,5e43f76cc52aac217ce41d58,30.0,NaN,192.168.3.10,40.0,Bala's machine,2020-02-12 21:01:21.149743
1,5e43f7abc52aac217ce41d59,20.0,NaN,192.168.3.11,30.0,Ken's machine,2020-02-12 21:01:21.149743
2,5e43fc9246db2186c87cf253,NaN,hello,NaN,NaN,NaN,NaN

In [22]:
list(collection.find({"cpu_metric": 20}))

[{'_id': ObjectId('5e43f7abc52aac217ce41d59'),
  'cpu_metric': 20,
  'mem_metric': 30,
  'timestamp': '2020-02-12 21:01:21.149743',
  'ipaddress': '192.168.3.11',
  'name': "Ken's machine"}]

In [24]:
list(collection.find({
    "cpu_metric":  {"$gt" : 3}}
))

[{'_id': ObjectId('5e43f76cc52aac217ce41d58'),
  'cpu_metric': 30,
  'mem_metric': 40,
  'timestamp': '2020-02-12 21:01:21.149743',
  'ipaddress': '192.168.3.10',
  'name': "Bala's machine"},
 {'_id': ObjectId('5e43f7abc52aac217ce41d59'),
  'cpu_metric': 20,
  'mem_metric': 30,
  'timestamp': '2020-02-12 21:01:21.149743',
  'ipaddress': '192.168.3.11',
  'name': "Ken's machine"}]

In [28]:
list(collection.find({
    "$or": [ {"cpu_metric" : 30}, {"cpu_metric" : 20} , {"mem_metric" : 40}  ]
    }
))

[{'_id': ObjectId('5e43f76cc52aac217ce41d58'),
  'cpu_metric': 30,
  'mem_metric': 40,
  'timestamp': '2020-02-12 21:01:21.149743',
  'ipaddress': '192.168.3.10',
  'name': "Bala's machine"}]

In [10]:
client.list_database_names()

['admin',
 'config',
 'local',
 'metric_db',
 'metricdb',
 'metricsdb',
 'mydb',
 'pyvideodb',
 'videosdb']

In [13]:
db = client.metric_db

In [14]:
db.collection_names()

C:\Users\balap\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

['cpu_mem_usage_collection']

In [15]:
db.cpu_mem_usage_collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'metric_db'), 'cpu_mem_usage_collection')

In [34]:
from sqlalchemy import create_engine
# create an engine
engine = create_engine('mysql://usr:pass@localhost:3306/mydb')

con = engine.
pd.read_sql("select * from balabal ", con)

In [ ]:
import pymssql  
conn = pymssql.connect(server='yourserver.database.windows.net', user='yourusername@yourserver', password='yourpassword', database='AdventureWorks')
    
pd.read_sql("select * from balabal ", conn)