# Module 1 - Part 2
- Foundational Python refresher...

#### Advanced String manipulations Revisited

```
- "a" + "bc"

- 3 * "bc"

- "3" * "bc"

- "Abcd"[2]

- "Abcd"[0:2]

- "Abcd"[ :2 ]

- "Abcd"[2:]
```

In [1]:
"a" + "bc"

'abc'

In [2]:
3 * "bc"

'bcbcbc'

In [4]:
"3" * "bc"

'bcbcbc'

In [5]:
"Abcd"[2]

'c'

In [6]:
"Abcd"[0:2]

'Ab'

In [7]:
"Abcd"[:2]

'Ab'

In [8]:
"Abcd"[2:]

'cd'

In [9]:
str1 = 'hello'
str2 = ','
str3 = 'world'

In [10]:
str1[0]

'h'

In [11]:
Str1[1]

NameError: name 'Str1' is not defined

In [12]:
str1[-1]

'o'

In [13]:
len(str1)

5

In [14]:
str1[ len(str1)-1 ]

'o'

In [15]:
str1[-1 : 4 ]

''

In [17]:
str1 + str2 + str3

'hello,world'

In [16]:
str3 * 3

'worldworldworld'

#### More on strings & slicing..

```
str1 = 'hello'
str2 = ','
str3 = 'world'
```

Part 1 - Answer the following

```
- str1[0]

- Str1[1]

- str1[-1]

- len(str1)

- str1[ len(str1)-1 ]

- str1[-1 : len(str1)-1 ]

- str1 + str2 + str3

- str1 + str2 + ' ' + str3

- str3 * 3

- 'hello' == str1

- 'HELLO' == str1

- 'a' in str3
```

In [19]:
True, 'HELLO' == str1

(True, False)

In [21]:
'a' not in str3

True

In [22]:
str3

'world'

In [25]:
str4 = 'helloworld'

In [ ]:
str4 = 'helloworld'

True, 'or', wor

[str1, str2]

some[10]
some[:10]
some[1:10]
some[1:10:2]

Part 2 - Answer the following

```
- str4 = 'helloworld'

- 'low' in str4

- str3[1:3]

- str3[:3]

- [str3:-1]

- str1[1:]

- str4[1:9]

- str4[9:1:2] 

- Str4[::-1]
```

In [30]:
str4[::-1]

'dlrowolleh'

In [28]:
str4[9:1:-2]

'drwl'

In [23]:
str1[1:]

'ello'

In [31]:
animals = {
            'a': 'aardvark',
            'b': 'baboon',
            'c': 'coati'
          }

animals['d'] = 'donkey'
animals['b'] = 'donkey'

In [32]:
animals

{'a': 'aardvark', 'b': 'donkey', 'c': 'coati', 'd': 'donkey'}

In [35]:
len(animals)

4

In [34]:
# animals["donkey"]
animals.get("donkey")

In [36]:
animals['a'] = 'anteater'

In [37]:
len(animals['a'])

8

In [39]:
# animals
'baboon' in animals

False

In [40]:
'donkey' in animals.values()

True

In [42]:
# animals
'b' in animals

True

In [43]:
animals.keys()

dict_keys(['a', 'b', 'c', 'd'])

#### Python dict


Given the following code...

```python
animals = {
            'a': 'aardvark',
            'b': 'baboon',
            'c': 'coati'
          }

animals['d'] = 'donkey'
animals['b'] = 'donkey'

```

#### Guess the output with respect to the given dict..

1. 
```
animals
```
--- 

2. 
```
animals["donkey"]
```
---

3. 
```
animals.get('donkey')
```
---

4. 
```
len(animals)
```
---

5. 
```
animals['a'] = 'anteater'
```
---

6. 
```
len(animals['a'])
```
---

7. 
```
'baboon' in animals 
```
---

8. 
```
 'donkey' in animals.values()
```
---

9. 
```
'b' in animals 
```
---
10. 
```
animals.keys()
```
---
11. 
```
del animals['b']
len(animals)
animals
```
---
12. 
```
animals.values()
```
---
13. 
```
animals.get("d",'donkey')
```

In [45]:
## Outputs...
x = (1, 2, (3, 'John', 4), 'Hi')

#### Tuples

Assume we've made the following assignment:

```python
x = (1, 2, (3, 'John', 4), 'Hi')
```

In [49]:
x[0:1] == (1,)

True


Ouput ???

- x[0]
---
- x[2]
---
- x[-1]
---
- x[2][2]
---
- x[2][-1]
---
- x[-1][-1]
---
- x[-1][2]
---
- x[0:1]
---
- x[0:-1]
---
- len(x)
---
- 2 in x
---
- 3 in x
---
- x[0] = 8
---

In [51]:
x[0] = 9

TypeError: 'tuple' object does not support item assignment

## Code Snip

In [54]:
print((1,))
print((1))

(1,)
1

###  Code Snippets 03
- visit : http://www.99-bottles-of-beer.net/lyrics.html
- Write a program to re-generate lyrics for `99 bottles` song

- HINT : 
    - step 1 -Identity the repeated pattern
    - step 2 -Find the static and dynamic portions of the string
    - step 3 -use loop and string formatting to generate the SONG.

In [55]:
from IPython.display import IFrame
IFrame(src='http://www.99-bottles-of-beer.net/lyrics.html', width=800, height=400)

In [56]:
## Answer here....

# Dont copy paste the text as str.. please...

for pos in range(99,1,-1):

    chunk = f"""{pos} bottles of beer on the wall, {pos} bottles of beer.
Take one down and pass it around, {pos-1} bottles of beer on the wall."""
    print(chunk)
    
    
last_few = """1 bottle of beer on the wall, 1 bottle of beer.
Take one down and pass it around, no more bottles of beer on the wall.

No more bottles of beer on the wall, no more bottles of beer.
Go to the store and buy some more, 99 bottles of beer on the wall."""
print(last_few)

99 bottles of beer on the wall, 99 bottles of beer.
Take one down and pass it around, 98 bottles of beer on the wall.
98 bottles of beer on the wall, 98 bottles of beer.
Take one down and pass it around, 97 bottles of beer on the wall.
97 bottles of beer on the wall, 97 bottles of beer.
Take one down and pass it around, 96 bottles of beer on the wall.
96 bottles of beer on the wall, 96 bottles of beer.
Take one down and pass it around, 95 bottles of beer on the wall.
95 bottles of beer on the wall, 95 bottles of beer.
Take one down and pass it around, 94 bottles of beer on the wall.
94 bottles of beer on the wall, 94 bottles of beer.
Take one down and pass it around, 93 bottles of beer on the wall.
93 bottles of beer on the wall, 93 bottles of beer.
Take one down and pass it around, 92 bottles of beer on the wall.
92 bottles of beer on the wall, 92 bottles of beer.
Take one down and pass it around, 91 bottles of beer on the wall.
91 bottles of beer on the wall, 91 bottles of beer.
Take one down and pass it around, 90 bottles of beer on the wall.
90 bottles of beer on the wall, 90 bottles of beer.
Take one down and pass it around, 89 bottles of beer on the wall.
89 bottles of beer on the wall, 89 bottles of beer.
Take one down and pass it around, 88 bottles of beer on the wall.
88 bottles of beer on the wall, 88 bottles of beer.
Take one down and pass it around, 87 bottles of beer on the wall.
87 bottles of beer on the wall, 87 bottles of beer.
Take one down and pass it around, 86 bottles of beer on the wall.
86 bottles of beer on the wall, 86 bottles of beer.
Take one down and pass it around, 85 bottles of beer on the wall.
85 bottles of beer on the wall, 85 bottles of beer.
Take one down and pass it around, 84 bottles of beer on the wall.
84 bottles of beer on the wall, 84 bottles of beer.
Take one down and pass it around, 83 bottles of beer on the wall.
83 bottles of beer on the wall, 83 bottles of beer.
Take one down and pass it around, 82 bottles of beer on the wall.
82 bottles of beer on the wall, 82 bottles of beer.
Take one down and pass it around, 81 bottles of beer on the wall.
81 bottles of beer on the wall, 81 bottles of beer.
Take one down and pass it around, 80 bottles of beer on the wall.
80 bottles of beer on the wall, 80 bottles of beer.
Take one down and pass it around, 79 bottles of beer on the wall.
79 bottles of beer on the wall, 79 bottles of beer.
Take one down and pass it around, 78 bottles of beer on the wall.
78 bottles of beer on the wall, 78 bottles of beer.
Take one down and pass it around, 77 bottles of beer on the wall.
77 bottles of beer on the wall, 77 bottles of beer.
Take one down and pass it around, 76 bottles of beer on the wall.
76 bottles of beer on the wall, 76 bottles of beer.
Take one down and pass it around, 75 bottles of beer on the wall.
75 bottles of beer on the wall, 75 bottles of beer.
Take one down and pass it around, 74 bottles of beer on the wall.
74 bottles of beer on the wall, 74 bottles of beer.
Take one down and pass it around, 73 bottles of beer on the wall.
73 bottles of beer on the wall, 73 bottles of beer.
Take one down and pass it around, 72 bottles of beer on the wall.
72 bottles of beer on the wall, 72 bottles of beer.
Take one down and pass it around, 71 bottles of beer on the wall.
71 bottles of beer on the wall, 71 bottles of beer.
Take one down and pass it around, 70 bottles of beer on the wall.
70 bottles of beer on the wall, 70 bottles of beer.
Take one down and pass it around, 69 bottles of beer on the wall.
69 bottles of beer on the wall, 69 bottles of beer.
Take one down and pass it around, 68 bottles of beer on the wall.
68 bottles of beer on the wall, 68 bottles of beer.
Take one down and pass it around, 67 bottles of beer on the wall.
67 bottles of beer on the wall, 67 bottles of beer.
Take one down and pass it around, 66 bottles of beer on the wall.
66 bottles of beer on the wall, 66 bottles of beer.
Take one down and pass it around, 65 bottles of beer on the wall.
65 bottles of beer on the wall, 65 bottles of beer.
Take one down and pass it around, 64 bottles of beer on the wall.
64 bottles of beer on the wall, 64 bottles of beer.
Take one down and pass it around, 63 bottles of beer on the wall.
63 bottles of beer on the wall, 63 bottles of beer.
Take one down and pass it around, 62 bottles of beer on the wall.
62 bottles of beer on the wall, 62 bottles of beer.
Take one down and pass it around, 61 bottles of beer on the wall.
61 bottles of beer on the wall, 61 bottles of beer.
Take one down and pass it around, 60 bottles of beer on the wall.
60 bottles of beer on the wall, 60 bottles of beer.
Take one down and pass it around, 59 bottles of beer on the wall.
59 bottles of beer on the wall, 59 bottles of beer.
Take one down and pass it around, 58 bottles of beer on the wall.
58 bottles of beer on the wall, 58 bottles of beer.
Take one down and pass it around, 57 bottles of beer on the wall.
57 bottles of beer on the wall, 57 bottles of beer.
Take one down and pass it around, 56 bottles of beer on the wall.
56 bottles of beer on the wall, 56 bottles of beer.
Take one down and pass it around, 55 bottles of beer on the wall.
55 bottles of beer on the wall, 55 bottles of beer.
Take one down and pass it around, 54 bottles of beer on the wall.
54 bottles of beer on the wall, 54 bottles of beer.
Take one down and pass it around, 53 bottles of beer on the wall.
53 bottles of beer on the wall, 53 bottles of beer.
Take one down and pass it around, 52 bottles of beer on the wall.
52 bottles of beer on the wall, 52 bottles of beer.
Take one down and pass it around, 51 bottles of beer on the wall.
51 bottles of beer on the wall, 51 bottles of beer.
Take one down and pass it around, 50 bottles of beer on the wall.
50 bottles of beer on the wall, 50 bottles of beer.
Take one down and pass it around, 49 bottles of beer on the wall.
49 bottles of beer on the wall, 49 bottles of beer.
Take one down and pass it around, 48 bottles of beer on the wall.
48 bottles of beer on the wall, 48 bottles of beer.
Take one down and pass it around, 47 bottles of beer on the wall.
47 bottles of beer on the wall, 47 bottles of beer.
Take one down and pass it around, 46 bottles of beer on the wall.
46 bottles of beer on the wall, 46 bottles of beer.
Take one down and pass it around, 45 bottles of beer on the wall.
45 bottles of beer on the wall, 45 bottles of beer.
Take one down and pass it around, 44 bottles of beer on the wall.
44 bottles of beer on the wall, 44 bottles of beer.
Take one down and pass it around, 43 bottles of beer on the wall.
43 bottles of beer on the wall, 43 bottles of beer.
Take one down and pass it around, 42 bottles of beer on the wall.
42 bottles of beer on the wall, 42 bottles of beer.
Take one down and pass it around, 41 bottles of beer on the wall.
41 bottles of beer on the wall, 41 bottles of beer.
Take one down and pass it around, 40 bottles of beer on the wall.
40 bottles of beer on the wall, 40 bottles of beer.
Take one down and pass it around, 39 bottles of beer on the wall.
39 bottles of beer on the wall, 39 bottles of beer.
Take one down and pass it around, 38 bottles of beer on the wall.
38 bottles of beer on the wall, 38 bottles of beer.
Take one down and pass it around, 37 bottles of beer on the wall.
37 bottles of beer on the wall, 37 bottles of beer.
Take one down and pass it around, 36 bottles of beer on the wall.
36 bottles of beer on the wall, 36 bottles of beer.
Take one down and pass it around, 35 bottles of beer on the wall.
35 bottles of beer on the wall, 35 bottles of beer.
Take one down and pass it around, 34 bottles of beer on the wall.
34 bottles of beer on the wall, 34 bottles of beer.
Take one down and pass it around, 33 bottles of beer on the wall.
33 bottles of beer on the wall, 33 bottles of beer.
Take one down and pass it around, 32 bottles of beer on the wall.
32 bottles of beer on the wall, 32 bottles of beer.
Take one down and pass it around, 31 bottles of beer on the wall.
31 bottles of beer on the wall, 31 bottles of beer.
Take one down and pass it around, 30 bottles of beer on the wall.
30 bottles of beer on the wall, 30 bottles of beer.
Take one down and pass it around, 29 bottles of beer on the wall.
29 bottles of beer on the wall, 29 bottles of beer.
Take one down and pass it around, 28 bottles of beer on the wall.
28 bottles of beer on the wall, 28 bottles of beer.
Take one down and pass it around, 27 bottles of beer on the wall.
27 bottles of beer on the wall, 27 bottles of beer.
Take one down and pass it around, 26 bottles of beer on the wall.
26 bottles of beer on the wall, 26 bottles of beer.
Take one down and pass it around, 25 bottles of beer on the wall.
25 bottles of beer on the wall, 25 bottles of beer.
Take one down and pass it around, 24 bottles of beer on the wall.
24 bottles of beer on the wall, 24 bottles of beer.
Take one down and pass it around, 23 bottles of beer on the wall.
23 bottles of beer on the wall, 23 bottles of beer.
Take one down and pass it around, 22 bottles of beer on the wall.
22 bottles of beer on the wall, 22 bottles of beer.
Take one down and pass it around, 21 bottles of beer on the wall.
21 bottles of beer on the wall, 21 bottles of beer.
Take one down and pass it around, 20 bottles of beer on the wall.
20 bottles of beer on the wall, 20 bottles of beer.
Take one down and pass it around, 19 bottles of beer on the wall.
19 bottles of beer on the wall, 19 bottles of beer.
Take one down and pass it around, 18 bottles of beer on the wall.
18 bottles of beer on the wall, 18 bottles of beer.
Take one down and pass it around, 17 bottles of beer on the wall.
17 bottles of beer on the wall, 17 bottles of beer.
Take one down and pass it around, 16 bottles of beer on the wall.
16 bottles of beer on the wall, 16 bottles of beer.
Take one down and pass it around, 15 bottles of beer on the wall.
15 bottles of beer on the wall, 15 bottles of beer.
Take one down and pass it around, 14 bottles of beer on the wall.
14 bottles of beer on the wall, 14 bottles of beer.
Take one down and pass it around, 13 bottles of beer on the wall.
13 bottles of beer on the wall, 13 bottles of beer.
Take one down and pass it around, 12 bottles of beer on the wall.
12 bottles of beer on the wall, 12 bottles of beer.
Take one down and pass it around, 11 bottles of beer on the wall.
11 bottles of beer on the wall, 11 bottles of beer.
Take one down and pass it around, 10 bottles of beer on the wall.
10 bottles of beer on the wall, 10 bottles of beer.
Take one down and pass it around, 9 bottles of beer on the wall.
9 bottles of beer on the wall, 9 bottles of beer.
Take one down and pass it around, 8 bottles of beer on the wall.
8 bottles of beer on the wall, 8 bottles of beer.
Take one down and pass it around, 7 bottles of beer on the wall.
7 bottles of beer on the wall, 7 bottles of beer.
Take one down and pass it around, 6 bottles of beer on the wall.
6 bottles of beer on the wall, 6 bottles of beer.
Take one down and pass it around, 5 bottles of beer on the wall.
5 bottles of beer on the wall, 5 bottles of beer.
Take one down and pass it around, 4 bottles of beer on the wall.
4 bottles of beer on the wall, 4 bottles of beer.
Take one down and pass it around, 3 bottles of beer on the wall.
3 bottles of beer on the wall, 3 bottles of beer.
Take one down and pass it around, 2 bottles of beer on the wall.
2 bottles of beer on the wall, 2 bottles of beer.
Take one down and pass it around, 1 bottles of beer on the wall.
1 bottle of beer on the wall, 1 bottle of beer.
Take one down and pass it around, no more bottles of beer on the wall.

No more bottles of beer on the wall, no more bottles of beer.
Go to the store and buy some more, 99 bottles of beer on the wall.